[submodule "XOptions"]
	path = XOptions
	url = https://github.com/horsicq/XOptions
[submodule "XShortcuts"]
	path = XShortcuts
	url = https://github.com/horsicq/XShortcuts
[submodule "build_tools"]
	path = build_tools
	url = https://github.com/horsicq/build_tools
[submodule "XWinPDB"]
	path = XWinPDB
	url = https://github.com/horsicq/XWinPDB
[submodule "XAboutWidget"]
	path = XAboutWidget
	url = https://github.com/horsicq/XAboutWidget
[submodule "XUpdate"]
	path = XUpdate
	url = https://github.com/horsicq/XUpdate
[submodule "XGithub"]
	path = XGithub
	url = https://github.com/horsicq/XGithub
